
  <div class="col-md-12">
      <section "Cadastro">

        <%= simple_form_for(@cliente) do |f| %>
          <%= f.error_notification %>
          <div class="form-group">
            <div class="row">
              <div class="form-inputs">
                <div class="col-md-4 col-md-push-1">
                  <h3>Dados do Cliente</h3>
                  <%= f.input :nome, label: 'Nome' %>
                  <%= f.input :data_nascimento, label: 'Nascimento',
                              as: :date, html5: true %>
                  <%= f.input :telefone, label: 'Telefone' %>
                  <%= f.input :celular, label: 'Celular' %>
                  <%= f.input :email, label: 'Email' %>
                  <%= f.input :comentarios, label: 'Comentários' %>
                </div>

                <div class="col-md-4 col-md-push-3">
                  <h3>Endereço do Cliente</h3>
                  <%= f.input :cep, label: 'Cep',
                                    input_html: { id: 'cep',
                                                  size: '10', maxlength:'9',
                                                  onblur: 'pesquisacep(this.value);' } %>
                  <%= f.input :logradouro, label: 'Logradouro',
                                           input_html: { id: 'logradouro',
                                                         size: '60' } %>
                  <%= f.input :numero, label: 'Número' %>
                  <%= f.input :compl, label: 'Complemento' %>
                  <%= f.input :bairro, label: 'Bairro',
                                       input_html: { id: 'bairro', size: '40' } %>
                  <%= f.input :cidade, label: 'Cidade',
                                       input_html: { id: 'cidade', size: '40' } %>
                  <%= f.input :uf, label: 'UF', input_html: { id: 'uf',
                                                              size: 2,
                                                              maxlength: 2,
                                                              :style=> 'width: 50px' } %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-actions md-4 col-md-push-1">
                <%= f.button :submit, value: 'Salvar', :class => "btn btn-success"%>
                <%= link_to 'Voltar', clientes_path, :class => "btn btn-warning" %>
              </div>
            </div>

          </div>
        <% end %>

      </section>

  </div>
