<p id="notice"><%= notice %></p>

<h1>Listar Clientes</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Data Nascimento</th>
      <th>Telefone</th>
      <th>Celular</th>
      <th>Email</th>
      <th>Comentários</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.nome %></td>
        <td><%= l(cliente.data_nascimento, format: :simple) %></td>
        <td><%= cliente.telefone %></td>
        <td><%= cliente.celular %></td>
        <td><%= cliente.email %></td>
        <td><%= cliente.comentarios %></td>
        <td><%= link_to 'Exibir', cliente %></td>
        <td><%= link_to 'Editar', edit_cliente_path(cliente) %></td>
        <td><%= link_to 'Excluir', cliente, method: :delete,
                                   data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Cliente', new_cliente_path %>
