<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @especialidade.nome %>
</p>

<p>
  <strong>Comentários:</strong>
  <%= @especialidade.comentarios %>
</p>

<% if current_user.perfil_id == 1 || current_user.perfil_id == 2 %>
  <%= link_to 'Editar', edit_especialidade_path(@especialidade) %> |
<% end %>
<%= link_to 'Voltar', especialidades_path %>
