<%= simple_form_for @reserva, html: { multipart: true,
                                       class: 'form-horizontal' } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :cliente, label: 'Cliente:', label_method: :nome,
                      value_method: :id %>
    <%= f.association :servico, label: 'Serviço:', label_method: :nome,
                      value_method: :id %>
    <%= f.association :profissional, label: 'Profissional:',
                      label_method: :nome, value_method: :id %>
    <%= f.input :preco, label: 'Preço:' %>
    <%= f.input :data, label: 'Data:', as: :date, html5: true %>
    <%= f.input :hora, as: :hour, label: 'Hora:' %>
    <%= f.input :comentarios, label: 'Comentários:' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, value: 'Cadastrar' %>
  </div>
<% end %>
