<div class="col-md-12">
  <%= simple_form_for @reserva, html: { multipart: true } do |f| %>
    <%= f.error_notification %>
    <div class="panel">
      <div class="col-md-6">

        <div class="form-group">
              <% if current_user.perfil_id == 3 %>
                <%= f.association :cliente, label: 'Cliente:', label_method: :nome,
                                  value_method: :id, disabled: true %>
              <% else %>
                <%= f.association :cliente, label: 'Cliente:', label_method: :nome,
                                  value_method: :id %>
              <% end %>
              <%= f.association :servico, label: 'Serviço:', label_method: :nome,
                                value_method: :id %>
              
              <% if current_user.perfil_id == 3 %>
                <%= f.association :profissional, label: 'Profissional:',
                                  label_method: :nome, value_method: :id, disabled: true %>
              <% else %>
                <%= f.association :profissional, label: 'Profissional:',
                                  label_method: :nome, value_method: :id %>
              <% end %>
              <%= f.input :data, label: 'Data:', as: :date, html5: true %>
              <%= f.input :hora, label: 'Hora:' , as: :time, html5: true %>
              <%= f.input :comentarios, label: 'Comentários:' %>
              <%= f.input :realizado, label: 'Realizado:', as: :boolean %>

              <%= f.button :submit, value: 'Cadastrar' %>

              <%= link_to 'Voltar', reservas_path, :class => "btn btn-warning" %>
              </div>
          </div>
        </div>
      <% end %>
  </div>
