<div class="container" style="background-color:#C2DFE5">
  <div class="col-md-12">
    <div id="wrapper" style="text-align: center; color: black">
      <h1>Editar Reserva</h1>
    </div>

    <section "Reserva">
      <div class="col-md-4 col-md-push-4">

        <%= simple_form_for @reserva, html: { multipart: true,
                                  :class => 'form-vertical' } do |f| %>

          <%= f.error_notification %>

          <div class="form-group">
            <div class="row">
              <%= f.association :cliente, label: 'Cliente:', label_method: :nome,
                                value_method: :id, disabled: true %>
            </div>
            <div class="row">
              <%= f.association :servico, label: 'Serviço:', label_method: :nome,
                                value_method: :id %>
            </div>
            <div class="row">
              <%= f.association :profissional, label: 'Profissional:',
                                label_method: :nome, value_method: :id %>
            </div>
            <div class="row">
              <%= f.input :data, label: 'Data:', as: :date, html5: true %>
            </div>
            <div class="row">
              <%= f.input :hora, label: 'Hora:' , as: :time, html5: true %>
            </div>
            <div class="row">
              <%= f.input :comentarios, label: 'Comentários:' %>
            </div>
            <div class="row">
              <div class="col-md-6">
                <%= f.input :realizado, label: 'Realizado', as: :boolean %>
              </div>
              <div class="col-md-6">
                <%= f.input :pago, label: 'Pago', as: :boolean %>
              </div>
            </div>

            <%= f.button :submit, value: 'Salvar', :class => "btn btn-success" %>
            <%= link_to 'Voltar', reservas_path, :class => "btn btn-warning" %>
          </div>

        <% end %>
      </div>
    </section>

  </div>
</div>
