<p id="notice"><%= notice %></p>

<h1>Listar Reservas</h1>

<table>
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Serviço</th>
      <th>Profissional</th>
      <th>Preço</th>
      <th>Data</th>
      <th>Hora</th>
      <th>Comentários</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservas.each do |reserva| %>
      <tr>
        <td><%= reserva.cliente.nome %></td>
        <td><%= reserva.servico %></td>
        <td><%= reserva.profissional %></td>
        <td><%= reserva.preco %></td>
        <td><%= l(reserva.data, format: :simple) %></td>
        <td><%= l(reserva.hora, format: :simple_time) %></td>
        <td><%= reserva.comentarios %></td>
        <td><%= link_to 'Exibir', reserva %></td>
        <td><%= link_to 'Editar', edit_reserva_path(reserva) %></td>
        <td><%= link_to 'Excluir', reserva, method: :delete,
                        data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Reserva', new_reserva_path %>
