<p id="notice"><%= notice %></p>

<h1>Reservas Do Dia </h1>
<div>
  <table>
    <thead>
      <tr>
        <th>Data</th>
        <th>Hora</th>
        <th>Cliente</th>
        <th>Serviço</th>
        <th>Profissional</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @reservas.each do |reserva| %>
        <tr>
          <td><%= reserva.data.strftime('%d/%m/%Y') %></td>
          <td><%= reserva.hora.strftime('%H:%M') %></td>
          <td><%= link_to reserva.cliente.nome, reserva %></td>
          <td><%= reserva.servico.nome %></td>
          <td><%= reserva.profissional.nome %></td>
          <td><%= link_to 'Exibir', reserva %></td>
          <td><%= link_to 'Editar', edit_reserva_path(reserva) %></td>
          <td><%= link_to 'Excluir', reserva, method: :delete,
                                     data: { confirm: 'Tem certeza?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<% if current_user.perfil_id != 3 %>
  <%= link_to 'Nova Reserva', new_reserva_path %>
<% end %>
