<div class="container" style="color: black; text-align: center;">
  <p id="notice"><%= notice %></p>

  <h1> Profissionais </h1>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th style="text-align:center;font-size:16px">Nome</th>
          <th style="text-align:center;font-size:16px">Dt. Nascimento</th>
          <th style="text-align:center;font-size:16px">Telefone</th>
          <th style="text-align:center;font-size:16px">Celular</th>
          <th style="text-align:center;font-size:16px">Email</th>
          <th style="text-align:center;font-size:16px">Usuário</th>
          <th style="text-align:center;font-size:16px" colspan="3">Ações</th>
        </tr>
      </thead>

      <tbody>
        <div class="form-actions" style="color: white">
          <% @profissionais.each do |profissional| %>
            <tr>
              <td><%= profissional.nome %></td>
              <td><%= profissional.data_nascimento.strftime('%d/%m/%Y') %></td>
              <% if profissional.telefone.length > 0 %>
                <td><%= format_phone(profissional.telefone) %></td>
              <% else %>
                <td><%= %></td>
              <% end %>
              <td><%= format_cell_phone(profissional.celular) %></td>
              <td><%= profissional.email %></td>
              <td><%= profissional.usuario.usuario %></td>
              <td><%= link_to 'Exibir', profissional,
                                        :class => "btn btn-success" %></td>
              <% if current_user.perfil_id == 1 %>
                <td><%= link_to 'Editar', edit_profissional_path(profissional),
                                          :class => "btn btn-primary" %>
                </td>
                <% if profissional.id != current_user.id %>
                  <td><%= link_to 'Excluir', profissional, method: :delete,
                                              data: { confirm: 'Tem certeza?' },
                                              :class => "btn btn-danger" %></td>
                <% end %>
              <% end %>

            </tr>
          <% end %>
        </div>

      </tbody>
    </table>
  </div>
</br>

  <div class="form-actions" style="color: white">

    <%= link_to 'Voltar', reservas_path, :class => "btn btn-warning" %>
    <% if current_user.perfil_id == 1 %>
      <%= link_to 'Novo Profissional', new_profissional_path, :method => :get,
          :class => "btn btn-info" %>
    <% end %>

  </div>

</div>
