<p id="notice"><%= notice %></p>

<h1>Serviços</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Especialidade</th>
      <th>Tempo Estimado</th>
      <th>Preço</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @servicos.each do |servico| %>
      <tr>
        <td><%= servico.nome %></td>
        <td><%= servico.especialidade.nome %></td>
        <td><%= servico.tempo_estimado %></td>
        <td><%= servico.preco %></td>
        <td><%= link_to 'Exibir', servico %></td>
        <% if current_user.perfil_id == 1 || current_user.perfil_id == 2 %>
          <td><%= link_to 'Editar', edit_servico_path(servico) %></td>
        <% end %>
        <% if current_user.perfil_id == 1 %>
          <td><%= link_to 'Excluir', servico, method: :delete,
                          data: { confirm: 'Tem certeza?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.perfil_id == 1 %>
  <%= link_to 'Novo Serviço', new_servico_path %>
<% end %>
