<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @servico.nome %>
</p>

<p>
  <strong>Especialidade:</strong>
  <%= @servico.especialidade.nome %>
</p>

<p>
  <strong>Tempo Estimado:</strong>
  <%= @servico.tempo_estimado %>
</p>

<p>
  <strong>Preço:</strong>
  <%= @servico.preco %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @servico.descricao %>
</p>

<% if current_user.perfil_id == 1 || current_user.perfil_id == 2 %>
  <%= link_to 'Editar', edit_servico_path(@servico) %> |
<% end %>
<%= link_to 'Voltar', servicos_path %>
