<%= simple_form_for(@usuario) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :profissional, label: 'Profissional:',
                      label_method: :nome, value_method: :id %>
    <%= f.input :nome, label: 'Usuário:' %>
    <%= f.input :password, label: 'Senha:' %>
    <%= f.input :password_confirmation, label: 'Confirmação:' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, value: 'Cadastrar' %>
  </div>
<% end %>
