<p id="notice"><%= notice %></p>

<p>
  <strong>Admin:</strong>
  <%= @usuario.admin %>
</p>

<p>
  <strong>Profissional:</strong>
  <%= @usuario.profissional %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
